<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label>Enter Report Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Weather Code" name="code">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Temperature" name="temp">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Wind Speed" name="wind_speed">
      </div>
      <div class="select" style="margin-right: 12px;">
  <select name="wind_direction">
    <option value="North">North</option>
    <option value="Northeast">Northeast</option>
    <option value="East">East</option>
    <option value="Southeast">Southeast</option>
    <option value="South">South</option>
    <option value="Southwest">Southwest</option>
    <option value="West">West</option>
    <option value="Northwest">Northwest</option>
  </select>
</div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Pressure" name="pressure">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Report</button>
</form>
