<div class="weather-summary">
    <div class="columns">
  <div class="column">
    <h2></h2>
  </div>
  <div class="column">Second column</div>
  <div class="column">Third column</div>
  <div class="column">Fourth column</div>
  <div class="column">Fifth column</div>
</div>
</div>