<section class="section">
  <div class="columns">
    
    <!-- Location -->
    <div class="column">
      <div class="card has-background-black has-text-white">
        <div class="card-content">
          <p class="title has-text-white">Tramore</p>
          <p class="subtitle has-text-white">Lat: 52.16<br>Lng: -7.152</p>
        </div>
      </div>
    </div>

    <!-- Weather -->
    <div class="column">
      <div class="card has-background-black has-text-white">
        <div class="card-content">
          <p class="title has-text-white">Weather</p>
          <p class="subtitle has-text-white">Rain</p>
        </div>
      </div>
    </div>

    <!-- Temp -->
    <div class="column">
      <div class="card has-background-black has-text-white">
        <div class="card-content">
          <p class="title has-text-white">Temp</p>
          <p class="subtitle has-text-white">6.0째C <br> Max: 6.0째C <br> Min: 0.5째C</p>
        </div>
      </div>
    </div>

    <!-- Wind -->
    <div class="column">
      <div class="card has-background-black has-text-white">
        <div class="card-content">
          <p class="title has-text-white">Wind</p>
          <p class="subtitle has-text-white">
            1 bft <br> South South West <br> Feels like: 6.8째C <br> Max: 3.5 m/s <br> Min: 2.0 m/s
          </p>
        </div>
      </div>
    </div>

    <!-- Pressure -->
    <div class="column">
      <div class="card has-background-black has-text-white">
        <div class="card-content">
          <p class="title has-text-white">Pressure</p>
          <p class="subtitle has-text-white">1004 hPa <br> Max: 1004.0 hPa <br> Min: 1001.0 hPa</p>
        </div>
      </div>
    </div>
    
  </div>
</section>
