{{> menu}}

<section class="section">
    <div class="title">
        {{station.title}}
        {{> weather-summary}}
    </div>
    {{> list-reports}}
    {{> add-report}}
    {{> generate-report}}
</section>